.chatInputWrapper {
	align-self: center;
	width: -webkit-fill-available;
	padding-top: 0;
	padding: 0 1.5rem;

	.chatInput {
		display: flex;
		position: relative;
		max-width: 42rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		
		.chatTextarea {
			border-radius: 10px;
			width: 100%;
			resize: none;
			padding-bottom: .875rem;
			padding-top: .875rem;
			padding-left: 3.2rem;
			padding-right: 3rem;
			height: 44px;
			max-height: 25dvh;
			border: 1px solid rgb(218, 226, 237);
			box-sizing: border-box;
			line-height: 1.5rem;
			font-size: 1rem;
		}

		.chatTextarea:focus {
			outline: 2px solid transparent;
			outline-offset: 2px
		}

		.chatTextarea:focus-visible {
			box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 1px;
			outline: none;
		}

		.chatButton,
		.chatNewButton {
			height: 30px;
			width: 30px;
			text-align: center;
			align-content: center;
			color: white;
			background-color: #8bcffd;
			font-size: small;
			position: absolute;

		}

		.chatButton:hover,
		.chatNewButton:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}

		.chatButton {
			right: 12px;
			bottom: 12px;
			border-radius: 8px;
		}

		.chatNewButton {
			bottom: 12px;
			left: 12px;
			border-radius: 20px;
		}

	}
}