.confirmationWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 0 35px;
	height: 100vh;

	.oneTimeWrapper{
		display: flex;
		flex-flow: column;
		align-items: center;
		

		> div > h1{
			font-size: 3rem;
		}

		.oneTimeReturnLink{
			text-decoration: none;
			color: white;
			font-size: 40px;
			position: absolute;
			left: 40px;
			top: 30px;
		}
		.oneTimeBoxes {
			margin: auto;
			max-width: 450px;
			gap: 0;

			.css-1tq8nf4-MuiFormControl-root-MuiTextField-root input{
				z-index: 50;
				font-weight: 600;
				font-size: xx-large;
				// width: 5rem;
			}
			.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
				width: 4.5rem;
				border: 2.5px rgb(191, 230, 255) solid;
				background-color: white;
				border-radius: 12px;
				box-shadow: inset 0px 0em 4px 1px rgba(0, 0, 0, 0.123);
			}
		}
		.error_message{
			position: relative;
			bottom: 10px;
			width: 435px;;
		}
		.oneTimeHeader{
			margin: 0 0 20px 0;
			font-size: 22px;
		}
		.oneTimeInfo{
			margin: 60px 0 0 0;
			max-width: 345px;
			font-size: 16px;
		}
		.oneTimeLink{
			margin: 15px 0 0 0;
			/* font-size: 16px; */
			font-size:small;
			color: #1565c0;
			text-decoration: none;
		}
	}
	
}

@media screen and (max-width: 768px) {
	.oneTimeWrapper > div > h1{
		font-size: 2rem!important;
	}
}