.confirmationWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 0 35px;
	height: 100vh;
	width: 100%;

	.oneTimeWrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 100%;

		>div{
			width: 100%;
		}
		.oneTimeReturnLink {
			text-decoration: none;
			color: white;
			font-size: 40px;
			position: absolute;
			left: 40px;
			top: 30px;
		}

		.MuiBox-root {
			margin: auto;
			max-width: 400px;
			justify-content: space-evenly;
			gap: unset;
		}

		.MuiInputBase-formControl {
			width: 3.275rem;

			.MuiInputBase-input {
				z-index: 50;
				font-weight: 600;
				font-size: xx-large;
				width: 3.275rem;
				height: 2.3rem;
			}

			.MuiOutlinedInput-notchedOutline {
				width: 3.275rem;
				border: 2.5px rgb(191, 230, 255) solid;
				background-color: white;
				border-radius: 12px;
				box-shadow: inset 0px 0em 4px 1px rgba(0, 0, 0, 0.123);
			}
		}


		.error_message {
			position: relative;
			bottom: 10px;
			width: 435px;
			;
		}

		.oneTimeHeader {
			margin: 0 0 10px 0;
			font-size: 22px;
		}

		.oneTimeInfo {
			margin: 30px 0 0 0;
			max-width: 345px;
			font-size: 16px;
			color: black;
		}

		.oneTimeLink {
			margin: 10px 0 0 0;
			/* font-size: 16px; */
			font-size: small;
			color: #1565c0;
			text-decoration: none;
		}
	}

}

@media screen and (max-width: 568px) {
	
}