[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
twilio = "*"
openai = "*"
boto3="*"
flask[async] = "*"
Flask-SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
