.chatRoom {
	// flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 94%;
	justify-content: center;
	
	.chatRoomAIBox{
		display: flex;
		flex-flow: column;
		color: #0d0d0d;
		justify-content: center;
		align-content: center;
		> p {
			font-size: 1.5rem;	
			font-weight: 700;
			margin: 0 0;
		}
	}

	.chat{
		display: flex;
		.entry{

			.ai{

			}
			.user{

			}
		}
	}
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.mainNav{
		display: none;
	}
}

@media screen and (max-width: 576px) {
	
}

