.chatRoom {
	// flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	justify-content: center;
	margin: auto;

	.chatRoomAIBox {
		display: flex;
		flex-flow: column;
		color: #0d0d0d;
		justify-content: center;
		align-content: center;

		>p {
			font-size: 1.5rem;
			font-weight: 700;
			margin: 0 0;
		}
	}

	.chat {
		display: flex;
		height: 100%;
		flex-flow: column;
		flex-direction: column-reverse;
		color: black;
		font-size: 1rem;
		padding: 0 24px;
		overflow: overlay;



		.user_entry {
			align-self: end;
			.user_name {
				align-self: end;
			}
		}

		.entry {
			align-items: flex-start;
			display: inline-flex;
			flex-direction: column;
			margin-bottom: 2px;

			>span {
				box-sizing: content-box;
				margin-bottom: 4px;
				overflow-x: hidden;
				position: relative;
				text-overflow: ellipsis;
				font-size: 12px;
				font-weight: bold;
				font-style: normal;
				// line-height: 1;
				letter-spacing: normal;
				// width: 100%;
			}

			>.entry_content {
				display: flex;
				flex-direction: column;
				position: relative;
				width: fit-content;
				max-width: 40rem;
				

				>p {
					margin: 0;
				}
				
				.user_content,
				.ai_content {
					background-color: #eeeeee;
					position: relative;
					display: inline-block;
					box-sizing: content-box;
					padding: 8px 12px;
					border-radius: 0px 16px 16px 16px;
					word-break: break-word;
					font-size: 14px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.43;
					letter-spacing: normal;
					text-align: left;

				
					#preview {
						background-color: unset;

						.md-editor-preview-wrapper {
							padding: 0;
							margin: 0;
						}

						pre {
							margin: 0;
							code {
								font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
								  monospace;
							  }
							  
							.md-editor-preview-wrapper {
								background-color: unset;
							}
						}
					}
				}
				
				.user_content {
					background-color: #B3E5FC;
					border-radius: 16px 0px 16px 16px;
				}
				.dot-content{
					width: 2rem;
					text-align: -webkit-center;
				}

			}

			

		
		}

		// Animation
		.dot-flashing {
			position: relative;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #808080;
			color: #9E9E9E;
			animation: dot-flashing 1s infinite linear alternate;
			animation-delay: 0.5s;
		}

		.dot-flashing::before,
		.dot-flashing::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
		}

		.dot-flashing::before {
			left: -15px;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #808080;
			color: #9E9E9E;
			animation: dot-flashing 1s infinite alternate;
			animation-delay: 0s;
		}

		.dot-flashing::after {
			left: 15px;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #808080;
			color: #9E9E9E;
			animation: dot-flashing 1s infinite alternate;
			animation-delay: 1s;
		}

		@keyframes dot-flashing {
			0% {
				background-color: grey;
			}

			50%,
			100% {
				background-color:lightgray;
			}
		}
	}
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 992px) {
	.chatRoom {
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.chatRoom {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.mainNav {
		display: none;
	}


	.entry_content {
		// max-width: 23rem!important;
	}


}

@media screen and (max-width: 576px) {}