.registerWrapper{
	display: flex;
	flex-flow: column;
	color: white;
	align-items: center;


	.MuiOtpInput-Box{
		color: white;
		
	}
	.registerInfo{
		font-size: small;
		// margin: 0;
		text-align: start;
	}
	.MuiTelInput-TextField{
		background-color: white;
		border-radius: 10px;
		border: none;
	}
	.MuiTelInput-IconButton{
		color: #42a5f5;
	}


}
/* .phoneInput{
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 50px;
} */
