.mobile_menu{
    position: absolute;
    top: 7px;
    z-index: 100;
    right: 7px;
    border: none;
}

.links_container{
    max-height: 38rem;
    overflow-y: auto;
    .delete_icon{
        float: right;
    }
}
