*{
  font-family: sans-serif;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main{
  width: 100%;
  height: 95%;
}


.App-Wrapper {
  background-color: #8bcffd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); 
  > nav{
    display: flex;
    gap: 2rem;
  }
}

.App-link {
  color: #61dafb;
}

