@tailwind base;
@tailwind components;
@tailwind utilities;

.chatter_bg{
	background-color: #8bcffd;
}

.chatter_text{
	color: #8bcffd;
}

.hover\:chatter_hover:hover{
	background-color: #c6e6fc;
}

.hover\:chatter_input_hover:hover{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 1px;
	background-color: rgba(0, 0, 0, 0.3);
}